doctype html
html
  head
    title Real time web chat
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
  body
    #online(style='width: 250px; height: 300px; margin: 0 0 20px 550px; border: solid 1px #999; overflow-y: scroll')
    #users(style='width: 250px; height: 300px; margin: -320px 0 20px 850px; border: solid 1px #999; overflow-y: scroll')
    #content(style='width: 500px; height: 300px; margin: -320px 0 20px 0; border: solid 1px #999; overflow-y: scroll')
     
    .controls
    | Name: 
    input#name(style='width:350px;')
    br
    input#field(style='width:350px;')
    input#send(type='button', value='send')
    input#private(type='button',value='private')
    


